*{
    padding:0px;
    margin:0px;

}

body{
    background-color: rgb(14,18,66);
    background-size:cover;
}

 .p1{
            margin-top:50px;
         
        } 
        
        
    p{
            color:white;
            font-size:20px;
        }



